{% extends "page/base.twig" %}

{% block navheader %}
    <div id="header-container" class="mini">
        <div id="header-container-inner" class="page-width">
            <div id="header-image">
            </div>
            <div id="header-wordmark">
                Athens
            </div>
            <div id="header-etc">
                Admissions / Registration / Graduation / Calendar
            </div>
        </div>

    </div>
{% endblock navheader %}