@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue.otf") format("opentype");
}

* {
    margin: 0;
}

#page-content {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 800;
    line-height: 1.3;
    color: inherit;
}

.hidden {
    display:none;
}

h1, h2 {
    color: #1c4273;
    margin-bottom:5px;
    font-family: BebasNeue, sans-serif;
}

h1 {
    font-size:50px;
}

h2 {
    font-size:35px;
}

.section-label {
    background-color: #1c4273;
    color: white;
    height: 29px;
    line-height: 29px;
    font-size: 22px;
    margin-left: -30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-bottom: 3px;
    padding-top: 2px;
    font-weight: 600;
    font-family: BebasNeue, sans-serif;
}

#page-content {
    font-size:17px;
}

p {
    font-size: 17px;
    line-height: 1.72px;
    margin: 0 0 14px;
    font-weight: 400;
    color: #3d3d3d;
    -webkit-font-smoothing: antialiased;
}

#header-container {
    background-color: #1c4273;
    height: 100px;
    width: 100%;
    margin: 0;
    color:white;
}

#header-container.mini {
    height:70px;
}

#header-container #header-image {
    float:left;
    width:100px;
    height:100px;
    background-image: url("../images/owl.png");
    background-repeat: repeat;
}

#header-container.mini #header-image {
    width:70px;
    height:70px;
    background-image: url("../images/owl-eyes.png");
}

#header-container #header-wordmark {
    font-size:50px;
    margin-top:25px;
    margin-left:10px;
    float:left;
    font-family: BebasNeue, sans-serif;
}

#header-container.mini #header-wordmark {
    margin-top:10px;
}

#header-container #header-etc {
    float:right;
    font-size:30px;
    margin-top:35px;
    font-family: BebasNeue, sans-serif;
}

#header-container.mini #header-etc {
    margin-top:20px;
}

#footer-container {
    margin-top:200px;
    padding:20px;
    padding-top:70px;
    background-image: url("../images/footer-background.png");
    background-repeat: repeat;
    background-color: #1c4273;
    height: 200px;
    width: 100%;
    font-family: BebasNeue, sans-serif;
    color:white;
    text-align:center;
}

#footer-wordmark {
    font-family: BebasNeue, sans-serif;
    color:white;
    font-size:50px;
    margin-top:20px;

}

#footer-tagline, #footer-link a, #footer-link {
    font-family: BebasNeue, sans-serif;
    color:white;
    font-size:20px;
    margin-top:30px;
}

.page-width {
    width:65%;
    margin:auto;
}

@media only screen and (min-width : 992px) {
    .inline-fields label {
        width:25%;
    }

    .inline-fields input[type=text],
    .inline-fields div.form-group[data-field-type-for="multiple-choice"] span.form-control {
        width:70%;
        display:inline-block
    }

    .inline-fields select {
        width:initial;
        min-width:30%;
        display:inline-block;
    }
}


input[type=text] {
    font-size:17px;
}

span.choice {
    margin-right:20px
}

input.form-action.btn, button.form-action.btn {
    font-size:17px;
    box-shadow: 2px 2px gray;
    border:none;
    position:relative
}

input.btn.form-action:active, button.form-action.btn:active {
    left:2px;
    top:2px;
    box-shadow:none;
}

div.note-editing-area div.note-editable.panel-body {
    min-height:200px;
}

div.form-group label {
    vertical-align:top;
}

nav.breadcrumbs ul, nav.breadcrumbs li {
    list-style-type:none;
    padding:0;
    margin:0;
}
nav.breadcrumbs {
    height:2.3em;
}
nav.breadcrumbs li {
    float:left;
    line-height:2.3em;
    color:#777;
}
nav.breadcrumbs li:not(:first-child) {
    padding-left:.75em;
}
nav.breadcrumbs li a {
    display:inline-block;
    padding:0 15px 0 0;
}
nav.breadcrumbs li a:link,
nav.breadcrumbs li a:visited {
    color:#777;
    text-decoration:none;
}
nav.breadcrumbs li a:hover {
    text-decoration: underline;
    color: #1c4273;
}
nav.breadcrumbs li:not(:last-child):after {
    content: ">";
}

form.inline div {
    display:inline-block;
}

form.inline .form-group {
    margin-bottom: 0px;
}

form.inline select.form-control {
    height: 35px;
}

.form-control {
    color: #2a2a2a;
}

textarea.form-control {
    margin-bottom:5px;
}

.chosen-container-multi .chosen-choices {
    line-height: 17px;
    font-size: 17px;
    min-height: 35px;
    border-radius: 5px;
    padding-top:3px;
}

ul.chosen-results li.result-selected {
    font-size: 17px;
}

input[type=file] {
    display: inline-block;
}